footer{
  overflow: hidden;
}

a{
  color: #000;
}

nav{
  padding: 2% 1%!important;
}

.click-border{
    border: 1px solid black;
    border-radius: 50%;
    padding: 20%;
    font-size: 10px;
}

.image{
  width: 57%;height: 68%;position: absolute;left: 22%;top: 15%;
}

.image-text{
  padding-left: 8%;
}

.actives>.nav-link{
  color: #fd7964!important;
}

.active{
  color: #fd7964!important;
}

.nav-link{
  padding: 0 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.mainbtn{
  border-radius: 0;
  font-weight: bold;
  background-color: #fd7964;
  text-transform: uppercase;
}

.btn-lg{
  font-size: 15px;
  line-height: 1;
  padding: 1.5rem 3rem;
  letter-spacing: 3px;
}

.btn-link{
  color: #000;
}

.btn-link:hover{
  color: #000;
  text-decoration: none;
}

.btn-link:focus{
    font-weight: bold;
}

.card-body{
    padding: 0;
}
.filter-sub{
  border-bottom:0;
}
.card-header{
  background-color: transparent;
  padding: 0;
}

.card{
  border:0;
  border-radius: 0;
}

.btn-danger, .btn-danger:hover{
  border-color: #fd7964;
}

.prod_h4{
    font-size: 1.3rem;
}

.pord_p{
  font-size: 12px;
}

/* .product_height{
  height: 24%;
} */

.prod_btn{
  background-color: transparent;
  padding-left: 0;
  font-size: 14px;
  text-transform: uppercase;
}

.prod_btn:hover{
  color: #fd7964;
}

.popupLabel{
  display: block;
  position: relative;
  top: -46px;
  left: 0px;
  font-size:14px;
  color: #000;
  z-index: 1;
  transition: all 0.3s ease;
}
.popupInput{
  display: block;
  position: relative;
  border:none;
  border-bottom: 1px solid #fd7964;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  z-index: 2;
}
.popupInput:focus, .popupInput:valid{
  border-color: transparent;
    box-shadow: none;
    outline: none;
  border-bottom: 1px solid #fd7964;
}
.popupInput:focus + .popupLabel, .popupInput:valid + .popupLabel{
  top: -52px;
  font-size: 13px;
  color: #fd7964;
}

.margin-top{
  margin-top: 60px;
}

.social-icon{
  font-size: 20px;
}

.social-icon:hover{
  transform: scale(1.3);
}
#facebook:hover{
    color: #3b5998;
}

#twitter:hover{
  color: #1da1f3;
}

#instagram:hover{
  background-image: -webkit-linear-gradient(to top right,#515bd4 42%,#8134af 37%,#dd2a7b 46%,#feda77 50%,#f58529 50%)!important;
  background-image: linear-gradient(to top right,#515bd4 42%,#8134af 37%,#dd2a7b 46%,#feda77 50%,#f58529 50%)!important;
  color:transparent!important;
  background-clip: text;
  -webkit-background-clip: text;
}

.float-right{
  text-align: right;
}

.circle{
  text-align: center;
  margin-top: 25px;
}

.filter{
  margin-top: 2%;
}

.filter-tag{
  color: black;
  font-size: 13px;
}
.opacity-1{
  opacity: 1!important;
}

.menu:hover{
  color:#fd7964!important;
}

.opacity-0{
  opacity: 0.7;
}

.materials-cate-name{
  font-size: 12px;
  opacity: 1;
  margin-bottom:0;
}

.material-cate{
    padding-left: 22px;
    margin-top: 10px;
}

.price{
  margin-top: 2%;
}

.checkbox{
  justify-content: end;
  position: relative;
  z-index: 20;
}
.checkbox label {
  z-index: 100;
  justify-content: end;
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 1px;
    left: 43px;
    background-color: #ddd;
    border-radius: 3px;
    border:1px solid #ddd;
}
.checkbox label::after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 3px;
    left: 3px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}
.checkbox label:hover::after {
    opacity: 0.5;
}
.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.checkbox::before{
  border-radius: 3px;
}

.range-slider{
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.range-slider:hover {
  opacity: 1;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fd7964;
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fd7964;
  cursor: pointer;
}

.clear-btn{
  background-color: transparent;
  margin-top: 5rem;
  padding-left: 0;
  font-size: 11px;
  letter-spacing: 1px;
  color: #fd7964;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-link{
  font-size: 14px;
  text-transform: capitalize;
  color: #999;
}

.hovicon {
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
}
.havicon:hover{
font-size:10px;
}
.hovicon::after {
pointer-events: none;
position: absolute;
width: 26%;
height: 100%;
border-radius: 50%;
content:'';
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}
.hovicon::before {
speak: none;
font-size: 48px;
line-height: 90px;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
display: block;
-webkit-font-smoothing: antialiased;
}
.hovicon.effect-1 {
background: rgba(255, 255, 255, 0.1);
-webkit-transition: background 0.2s, color 0.2s;
-moz-transition: background 0.2s, color 0.2s;
transition: background 0.2s, color 0.2s;
}
.hovicon.effect-1:after {
top: -3px;
left: 21px;
padding: 4px;
-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
-webkit-transform: scale(.8);
-moz-transition: -moz-transform 0.2s, opacity 0.2s;
-moz-transform: scale(.8);
-ms-transform: scale(.8);
transition: transform 0.2s, opacity 0.2s;
transform: scale(.8);
opacity: 0;
}

.hovicon.effect-1.sub-a:hover {
  font-size: 12px;
  margin:auto 0;
}

.hovicon.effect-1.sub-a:hover:after {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
opacity: 1;
}

.filterDiv {
  display: none;
  /* transition: all 20s ease; */
}
.sildeCollapse>.card-header button[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sildeCollapse>.card-header button[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sildeCollapse>.card-header button:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

a:hover{
  cursor: pointer;
}

.collapse-show{
  display: inline-flex!important;
  margin-bottom: 2%;
}
.showProduct{
  display: inline-flex!important;
  margin-bottom: 10%;
}

#nav-link:hover{
  color: #fd7964;
  transition: color 0.5s ease;
}

.product-wrap{
  max-width: 40%!important;
  height: 100%;
}

.show-more-btn{
  margin-top: 25%;
}

#range {
  width: 100%;
  height: 4px;
  border: 0;
  border-radius: 100px;
  background: rgba(0,0,0,0.2);
  outline: none;
}
#range .ui-slider-handle {
  position: absolute;
  margin: -10px 0 0 -17px;
  border-radius: 50%;
  background: #fd7964;
  color: #fff;
  border: 0;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 25px;
  outline: none;
  cursor: pointer;
  font-size: 10px;
  text-decoration: none;
  transition: transform 0.1s ease;
}
#range .ui-slider-handle:hover,
#range .ui-slider-handle:focus {
  transform: scale(1.1);
}
#range .ui-slider-range {
  background: #69b6b5;
}
.cntr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/*  Media query */
@media (max-width: 990px) {
  .nav{
    width: 100%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center!important;
  }
  .icon{
    font-size: 20px;
  }
}

.header-icon{
    padding-right: 0;
    padding-left:37px;
}

@media (max-width: 767px) {
  .clear-btn{
    margin-top: 10%!important;
  }
  .product-row{
    margin-top: 4%!important;
  }
  .click-border{
    padding: 9%!important;
  }
  .collection-slider .slick-slide{
    padding: 2%!important;
  }
  /* .collapse{
    display: none!important;
  } */
}
@media (min-width: 578px) {
  /* .col-sm-6{
    max-width: 45%!important;
  } */
}
@media (max-width: 575px) {
  .product-wrap{
    max-width: 90%!important;
    margin: 0 auto;
    height: 50%;
  }
  /* .product_height{
    height: 50%;
  } */
  .center{
    text-align: center;
    justify-content: center!important;
  }
  .prod_nav{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
  }
  .hovicon::after {
    width: 16%!important;
    height: 100%!important;
  }
  .hovicon.effect-1:after {
    top:-3px!important;
    left: 42px!important;
  }
  .header-icon{
    font-size: 15px;
  }
<<<<<<< HEAD
  /* .col-sm-6{
    width: 100%!important;
    height: 60%;
  } */
  .image-margin{
    margin-left: 0;
  }
}
=======
  .icon{
    font-size: 20px;
  }
}

.header-icon{
    padding-right: 0;
    padding-left:37px;
}
