a{
  color: #000;
}

.active>.nav-link{
  color: #fd7964!important;
}

.active{
  color: #fd7964!important;
}

.nav-link{
  padding: 0 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.mainbtn{
  border-radius: 0;
  font-weight: bold;
  background-color: #fd7964;
  text-transform: uppercase;
}

.btn-lg{
  font-size: 15px;
  line-height: 1;
  padding: 1.5rem 3rem;
  letter-spacing: 3px;
}

.btn-link{
  color: #000;
}

.btn-link:hover{
  color: #000;
  text-decoration: none;
}

.btn-link:focus{
    font-weight: bold;
}

.card-body{
    padding: 0;
}
.filter-sub{
  border-bottom:0;
}
.card-header{
  background-color: transparent;
  padding: 0;
}

.card{
  border:0;
  border-radius: 0;
}

.btn-danger, .btn-danger:hover{
  border-color: #fd7964;
}

.prod_h4{
    font-size: 1.3rem;
}

.pord_p{
  font-size: 12px;
}

.product_height{
  height: 330px;
}

.prod_btn{
  background-color: transparent;
  padding-left: 0;
  font-size: 14px;
  text-transform: uppercase;
}

.prod_btn:hover{
  color: #fd7964;
}

.popupLabel{
  display: block;
  position: relative;
  top: -46px;
  left: 0px;
  font-size:14px;
  color: #000;
  z-index: 1;
  transition: all 0.3s ease;
}
.popupInput{
  display: block;
  position: relative;
  border:none;
  border-bottom: 1px solid #fd7964;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  z-index: 2;
}
.popupInput:focus, .popupInput:valid{
  border-color: transparent;
    box-shadow: none;
    outline: none;
  border-bottom: 1px solid #fd7964;
}
.popupInput:focus + .popupLabel, .popupInput:valid + .popupLabel{
  top: -52px;
  font-size: 13px;
  color: #fd7964;
}

.margin-top{
  margin-top: 60px;
}

.social-icon{
  font-size: 20px;
}

.social-icon:hover{
  transform: scale(1.3);
}
#facebook:hover{
    color: #3b5998;
}

#twitter:hover{

}

#instagram:hover{

}

.float-right{
  text-align: right;
}

.circle{
  text-align: center;
  margin-top: 25px;
}

.filter{
  margin-top: 5rem;
}

.filter-tag{
  color: black;
  font-size: 13px;
}
.opacity-1{
  opacity: 1!important;
}

.opacity-0{
  opacity: 0.5;
}

.materials-cate-name{
  font-size: 12px;
  opacity: 0.5;
  margin-bottom:0;
}

.material-cate{
    padding-left: 22px;
    margin-top: 10px;
}

.price{
  margin-top: 5rem;
}

.checkbox{
  justify-content: end;
  position: relative;
  z-index: 20;
}
.checkbox label {
  z-index: 100;
  justify-content: end;
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 1px;
    left: 43px;
    background-color: #ddd;
    border-radius: 3px;
    border:1px solid #ddd;
}
.checkbox label::after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 3px;
    left: 3px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}
.checkbox label:hover::after {
    opacity: 0.5;
}
.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.checkbox::before{
  border-radius: 3px;
}

.range-slider{
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.range-slider:hover {
  opacity: 1;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fd7964;
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fd7964;
  cursor: pointer;
}

.clear-btn{
  background-color: transparent;
  margin-top: 5rem;
  padding-left: 0;
  font-size: 11px;
  letter-spacing: 1px;
  color: #fd7964;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-link{
  font-size: 14px;
  text-transform: capitalize;
  color: #999;
}

.hovicon {
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
}
.havicon:hover{
font-size:10px;
}
.hovicon::after {
pointer-events: none;
position: absolute;
width: 26%;
height: 100%;
border-radius: 50%;
content:'';
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}
.hovicon::before {
speak: none;
font-size: 48px;
line-height: 90px;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
display: block;
-webkit-font-smoothing: antialiased;
}
.hovicon.effect-1 {
background: rgba(255, 255, 255, 0.1);
-webkit-transition: background 0.2s, color 0.2s;
-moz-transition: background 0.2s, color 0.2s;
transition: background 0.2s, color 0.2s;
}
.hovicon.effect-1:after {
top: -3px;
left: 21px;
padding: 4px;
/* box-shadow: 0 0 0 2px #000; */
-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
-webkit-transform: scale(.8);
-moz-transition: -moz-transform 0.2s, opacity 0.2s;
-moz-transform: scale(.8);
-ms-transform: scale(.8);
transition: transform 0.2s, opacity 0.2s;
transform: scale(.8);
opacity: 0;
}
/* Effect 1a */
.hovicon.effect-1.sub-a:hover {
  font-size: 12px;
  margin:auto 0;
}
/* .hovicon.color1:after {
  box-shadow: 0 0 0 2px #0075ff;
}
.hovicon.color2:after {
  box-shadow: 0 0 0 2px #ff1f00;
}
.hovicon.color3:after {
  box-shadow: 0 0 0 2px #02ffdd;
}
.hovicon.color4:after {
  box-shadow: 0 0 0 2px #ff6300;
}
.hovicon.color5:after {
  box-shadow: 0 0 0 2px #00ff3d;
}
.hovicon.color6:after {
  box-shadow: 0 0 0 2px #4900ff;
}
.hovicon.color7:after {
  box-shadow: 0 0 0 2px #ff0020;
}
.hovicon.color8:after {
  box-shadow: 0 0 0 2px #ff0075;
} */
.hovicon.effect-1.sub-a:hover:after {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
opacity: 1;
}

.filterDiv {
  display: none;
}

a.nav-link.active{
    color: #fd7964;
}
a:hover{
  cursor: pointer;
}
.show{
  display: inline-flex;
}

/*  Media query */

@media (max-width: 576px) {
  .product_height{
    height: 600px;
  }
  .main{
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
  .center{
    text-align: center;
    justify-content: center!important;
  }
  .prod_nav{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
  }
  .hovicon::after {
    width: 16%!important;
    height: 100%!important;
  }
  .hovicon.effect-1:after {
    top:-3px!important;
    left: 42px!important;
  }
}
@media (max-width: 990px) {
  .nav{
    width: 100%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center!important;
  }
  .icon{
    font-size: 20px;
  }
}
